<body>
    <p>Choose a category</p>
    <div id="menu">
        <!-- <p>Resources</p> -->
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
        </button>
        <ul>
            <li><a href="#cr">Class-related</a></li>
            <li><a href="#mh">Mental health</a>
            <li><a href="#crime">Crime</a></li>
            <ul>
                <li><a href="#domint">Domestic/Interpersonal</a></li>
                <li><a href="#sc">Scams</a></li>
            </ul>
            <li><a href="#unemp">Unemployment</a></li>
            <li><a href="#fi">Food insecurity</a></li>
            <li><a href="#si">Shelter insecurity</a></li>
            <li><a href="#ci">Clothing insecurity</a></li>
            <li><a href="#tech">Technology</a></li>
            <li><a href="#fa">Financial</a></li>
            <li><a href="#legal">Legal</a></li>
            <li><a href="#tran">Transportation</a></li>
            <li><a href="#cc">Child care</a></li>
            <li><a href="#ec">Elder care</a></li>
            <li><a href="#util">Utility</a></li>
            <li><a href="#mr">Multiple resources</a></li>
        </ul>
    </div>
    
    <div id="res-contacts">
    <h3 id="cr">Class-related</h3>
    <h4>w3schools</h4>
    <a href = "https://www.w3schools.com/">https://www.w3schools.com</a>

    <h4>Stack Overflow</h4>
    <a href = "https://www.w3schools.com/">https://stackoverflow.com</a>

    <h4>Coding Bat</h4>
    <a href = "https://codingbat.com/java">https://codingbat.com/java</a>

    <h4>HackerRank</h4>
    <a href = "https://www.hackerrank.com/">https://www.hackerrank.com</a>

    <h3 id="mh">Mental health</h3>
    <h4>National Institute of Mental Health</h4>
    Provides contact information for various resources, recommended questions to ask when choosing a provider, clinical trial information, and access to ordering printed publications.
    <br><a href= "https://www.nimh.nih.gov/health/find-help/index.shtml">https://www.nimh.nih.gov/health/find-help/index.shtml</a>

    <h4>National Suicide Prevention Lifeline</h4>
    Calls are free and confidential. Available 24 hours a day in English and Spanish.<br />
    1-800-273-TALK (8255)

    <h4>Substance Abuse and Mental Health Services Administration</h4>
    Free, confidential, 24/7, 365-day-a-year treatment referral and information service (in English and Spanish)<br />
    1-800-662-HELP (4357)<br />
    <a href="https://www.samhsa.gov/">https://www.samhsa.gov</a>

    <h4>Suicide Prevention Hotline</h4>
    1-800-273-8255<br />
    Text HELLO to 741741<br />
    <a href="https://suicidepreventionlifeline.org/">https://suicidepreventionlifeline.org</a>

    <h4>Veterans Crisis Line</h4>
    1-800-273-8255 and Press 1<br />
    Send a text message to 838255<br />
    <a href="https://www.veteranscrisisline.net">https://www.veteranscrisisline.net</a>

    <h3 id="crime">Crime</h3>
    <h4>National Center for Victims of Crime</h4>
    1-855-4-VICTIM (1-855-484-2846) <br />
    <a href = "https://victimconnect.org/get-help/reporting-a-crime">https://victimconnect.org/get-help/reporting-a-crime</a> <br />

    <h3 id="domint">Crime - Domestic/Interpersonal Violence</h3>
    <h4>National Domestic Violence Hotline</h4>
    1-800-799-7233 <br />
    <a href="https://www.thehotline.org/">https://www.thehotline.org</a> 

    <h4>Cleveland Rape Crisis Center</h4>
    <a href="www.clevelandrapecrisis.org">www.clevelandrapecrisis.org</a>

    <h4>Domestic Violence And Child Advocacy Center & Hotline</h4>
    <a href="http://www.dvcac.org/">http://www.dvcac.org</a>

    <h4>Journey Center for Safety and Healing</h4>
    <a href="http://www.dvcac.org/">http://www.dvcac.org</a>

    <h4>RAINN National Sexual Assault Hotline</h4>
    1-800-656-HOPE (4673)<br />
    <a href="https://www.rainn.org/">https://www.rainn.org</a>

    <h4>National Human Trafficking Hotline</h4>
    1-888-373-7888<br />
    <a href="https://humantraffickinghotline.org">https://humantraffickinghotline.org</a>

    <h3 id="sc">Crime - Scams</h3>
    <h4>Federal Trade Commission</h4>
    <a href>https://www.ftc.gov/faq/consumer-protection/submit-consumer-complaint-ftc</a> 

    <h4>Scam alerts</h4> 
    <a href="https://www.consumer.ftc.gov/features/scam-alerts">https://www.consumer.ftc.gov/features/scam-alerts</a>

    <h4>Ohio Attorney General</h4>
    Complaints, scams, and unwanted phone calls <br />
    <a href="https://www.ohioattorneygeneral.gov/Individuals-and-Families/Consumers">https://www.ohioattorneygeneral.gov/Individuals-and-Families/Consumers</a>

    <h3 id ="unemp">Unemployment Resources</h3>
    <h4>Ohio Department of Job and Family Services</h4>
    <a href="https://jfs.ohio.gov/">https://jfs.ohio.gov</a>

    <h3 id ="fi">Food insecurity</h3>
    <h4>Ohio Association of Foodbanks</h4>
    <a href="https://ohiofoodbanks.org/foodbanks/">https://ohiofoodbanks.org/foodbanks</a>

    <h3 id ="si">Shelter insecurity</h3>
    <h4>Coalition on Homelessness and Housing in Ohio</h4>
    175 S. Third St. Suite 580 Columbus, Ohio 43215<br />
    Phone: (614) 280-1984<br />
    <a href="https://cohhio.org/">https://cohhio.org</a>

    <h4>YWCA Columbus</h4>  
    <a href="https://www.ywcacolumbus.org/">https://www.ywcacolumbus.org</a>

    <h3 id="ci">Clothing Insecurity</h3>
    <h4>Dress for Success - Cleveland</h4>
    2239 East 55th Street<br />
    Cleveland, Ohio 44103<br />
    1-216-391-2301<br />
    <a href="https://cleveland.dressforsuccess.org/">https://cleveland.dressforsuccess.org</a>

    <h4>Dress for Success - Columbus</h4>
    1204 North High Street<br />
    Columbus, Ohio 43201<br />
    1-614-291-5420<br />
    <a href="https://columbus.dressforsuccess.org/">https://columbus.dressforsuccess.org</a>

    <h4>Shoes and Clothes for Kids</h4>
    3631 Perkins Avenue<br />
    Cleveland, Ohio 44114<br />
    1-216-881-7463 (SHOE)<br />
    info@sc4k.org<br />
    <a href="https://sc4k.org">https://sc4k.org</a>

    <p>Columbus kids clothing location?</p>

    <h3 id="tech">Technology Assistance</h3>
    <h4>JobsOhio</h4>
    41 S High St #1500<br />
    Columbus, OH 43215<br />
    1-855-874-2530<br />
    <a href="mailto:contact@jobsohio.com">Email JobsOhio</a><br />
    <a href="https://www.jobsohio.com">https://www.jobsohio.com</a>

    <h4>PCs For People</h4>
    <a href="https://www.pcsforpeople.org/eligibility/">https://www.pcsforpeople.org/eligibility</a>

    <h3 id="fa">Financial Assistance</h3>
    <h4>HFLA Interest Free Loans</h4>
    Covid and regular loans
    <a href="https://interestfree.org/">https://interestfree.org</a>

    <h3 id="legal">Legal</h3>
    <h4>ABA Free and Low-cost legal resources</h4> 
    <a href="https://www.americanbar.org/groups/legal_services/flh-home/flh-free-legal-help/">https://www.americanbar.org/groups/legal_services/flh-home/flh-free-legal-help/</a>

    <h4>Legal Aid Society of Cleveland</h4> 
    <a href="https://lasclev.org/">https://lasclev.org</a>

    <h4>Legal Aid Society of Columbus</h4>
    <a href="https://www.columbuslegalaid.org/">https://www.columbuslegalaid.org</a>

    <h4>Cleveland Marshall Law Clinic</h4> 
    <a href="https://www.law.csuohio.edu/academics/clinics">https://www.law.csuohio.edu/academics/clinics</a>

    <h4>Case Western Kramer Law Clinic</h4> 
    <a href="https://case.edu/law/clinic">https://case.edu/law/clinic</a> 

    <h4>U.S. Equal Employment Opportunity Commission</h4> 
    <a href="https://www.eeoc.gov/how-file-charge-employment-discrimination">https://www.eeoc.gov/how-file-charge-employment-discrimination</a> 

    <h4>Human Rights Campaign Resources </h4>
    <a href="https://www.hrc.org/resources/municipalities">https://www.hrc.org/resources/municipalities</a>

    <h3 id="tran">Transportation</h3>
    <h4>United Way</h4>
    <a href="https://www.211unitedway.org/search-category/transportation">https://www.211unitedway.org/search-category/transportation</a>

    <h3 id="cc">Child Care</h3>
    <h4>Department of Job and Family Services</h4>
    <a href="https://jfs.ohio.gov/cdc/Page4.stm">https://jfs.ohio.gov/cdc/Page4.stm</a>

    <h3 id="ec">Elder Care</h3>
    <h4>Seniors and Caregivers Resources</h4>
    <a href="https://ohio.gov/wps/portal/gov/site/residents/topic-hubs/home-and-community/seniors-and-caregivers/seniors-and-caregivers">https://ohio.gov/wps/portal/gov/site/residents/topic-hubs/home-and-community/seniors-and-caregivers/seniors-and-caregivers</a>

    <h3 id="util">Utility</h3>
    <h4>Ohio Development Services Agency</h4>
    <a href="https://development.ohio.gov/is/is_energyassist.htm">https://development.ohio.gov/is/is_energyassist.htm</a>

    <h3 id="mr">Multiple Resources</h3>
    <h4>211 (United Way)</h4>
    Dial 211<br />
    <a href="https://www.211.org/">https://www.211.org/</a>

    <h4>Franklin County Ohio assistance programs</h4>
    <a href="https://www.needhelppayingbills.com/html/franklin_county_assistance_pro.html">https://www.needhelppayingbills.com/html/franklin_county_assistance_pro.html</a>
    
    <h4>Ohio Benefits</h4>
    <a href="https://benefits.ohio.gov">https://benefits.ohio.gov</a>
    
</div>
</body>