<div class="container" style="width:600px">
    <div style="margin: 20px">
      <h3 style="color: crimson;">vHugs Uploader</h3>
      <h4>{{ title }}</h4>
    </div>
  
    <div *ngIf="currentFile" class="progress">
        <div
          class="progress-bar progress-bar-info progress-bar-striped"
          role="progressbar"
          attr.aria-valuenow="{{ progress }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: progress + '%' }"
        >
          {{ progress }}%
        </div>
      </div>
      
      <label class="btn btn-default">
        <input type="file" (change)="selectFile($event)" />
      </label>
      
      <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
        Upload
      </button>
      
      <div class="alert alert-light" role="alert">{{ message }}</div>
      
      <div class="card">
        <div class="card-header">List of Files</div>
        <ul
          class="list-group list-group-flush"
          *ngFor="let file of fileInfos | async"
        >
          <li class="list-group-item">
            <a href="{{ file.url }}">{{ file.name }}</a> <span><button type ="submit" (click)="delete(file.url)">x</button></span>
          </li>
        </ul>
      </div>
  </div>